<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUFW5AsBTIBHzT1SK3D1zDKXxGTWJJvao</string>
	<key>GCM_SENDER_ID</key>
	<string>750703215477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.maguinhoaju.aikidomaruyama</string>
	<key>PROJECT_ID</key>
	<string>aikidomaruyama-28bc6</string>
	<key>STORAGE_BUCKET</key>
	<string>aikidomaruyama-28bc6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750703215477:ios:7291e81c85e2c868b3093c</string>
</dict>
</plist>